<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ asset('bundles/secretpartycore/css/style.css') }}" />
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Secret Party Coming Soon</title>
</head>
<body>
<div id="wrapper">
    <div id="content">
        <h1>Secret Party</h1>
        <p id="o"></p>
        <h2>Coming Soon</h2>

    </div>
</div>
</body>
</html>




